
@model List<WorkingHours>
<footer class="site-footer">
    <div class="container">


        <div class="row">


            @await Component.InvokeAsync("_LocationComponenetPartial")
            @foreach (var item in Model)
            {

                <div class="col-lg-5 col-12">
                    <em class="text-white d-block mb-4">Çalışma Saatlerimiz</em>

                <ul class="opening-hours-list">
                    <li class="d-flex">
                        @item.WorkingDays
                        <span class="underline"></span>

                        <strong>@item.OpeningTime - @item.ClosingTime</strong>
                    </li>

                    <li class="d-flex">
                        @item.HolidaysWorkTime
                        <span class="underline"></span>

                            <strong>@item.HolidaysWorkClock</strong>
                    </li>

                    <li class="d-flex">
                        @item.ClosedDay
                        <span class="underline"></span>

                        <strong>Kapalı</strong>
                    </li>
                </ul>
            </div>
            }
            <div class="col-lg-8 col-12 mt-4">
                <p class="copyright-text mb-0">
                    Copyright © Agcay Soft                
                </p>
            </div>
        </div>

</footer>
