@model List<Testimonial>
@{
    int count = 0;
    string divLocationRight = "timeline-container timeline-container-right";
    string divLocationLeft = "timeline-container timeline-container-left";
}

<section class="reviews-section section-padding section-bg" id="section_4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                <em class="text-white">Bizim Hakkımızda Ne Düşünüyorsunuz?</em>
                <h2 class="text-white">Görüşleriniz</h2>
            </div>

            <div class="timeline">
                @foreach (var item in Model)
                {
                    var divClass = (count % 2 == 0) ? divLocationLeft : divLocationRight;
                    count++;

                    <div class="@divClass">
                        <div class="timeline-content">
                            <div class="reviews-block">
                                <div class="reviews-block-image-wrap d-flex align-items-center">
                                    <img src="@item.ImageUrl" class="reviews-block-image img-fluid" alt="">

                                    <div class="">
                                        <h6 class="text-white mb-0">@item.Name</h6>
                                        <em class="text-white"> @item.Grade</em>
                                    </div>
                                </div>

                                <div class="reviews-block-info">
                                    <p>@item.Desc</p>

                                    <div class="d-flex border-top pt-3 mt-4">
                                        <strong class="text-white">@item.Rating <small class="ms-2">Rating</small></strong>

                                        <div class="reviews-group ms-auto">
                                          @for (int i = 0; i < item.Rating; i++)
                                            {
                                                <i class="bi-star-fill"></i>
                                            }                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>