@model List<AboutCafe> 
<section class="about-section section-padding" id="section_2">
    <div class="section-overlay"></div>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row align-items-center">

                <div class="col-lg-6 col-12">

                    <div class="ratio ratio-1x1">
                        <video autoplay="" loop="" muted="" class="custom-video" poster="">
                            <source src="@item.VideoUrl" type="video/mp4">
                        </video>

                        <div class="about-video-info d-flex flex-column">
                            <h4 class="mt-auto">2021 Yılından İtibaren</h4>

                            <h4>En iyi cafe @item.CafeName.</h4>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 col-12 mt-4 mt-lg-0 mx-auto">
                    <em class="text-white">@item.Title</em>

                    <h2 class="text-white mb-3">@item.CafeName</h2>

                    <p class="text-white">@item.Desc</p>

                    

                    <a href="#barista-team" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">Çalışanlarımızla Tanışın</a>
                </div>

            </div>
            }

        </div>
    </section>
